        body {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .my-custom-scrollbar {
            position: relative;
            width: 800px;
            height: 400px;
            overflow: auto;
          }